@import url('https://fonts.googleapis.com/css?family=Raleway:900i&display=swap');

@font-face{
    font-family: 'Bahnschrift';
    src: url('fonts/BAHNSCHRIFT.woff');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}



html {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18px;
    background: url(img/bg.jpg);
    min-height: 100%;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    line-height: .9;
    color: white;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.125em;
}

#calculator-container {
    background: rgba(255, 255, 255, .50);
    align-self: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,.35);
    border: 1px solid rgba(0,0,0,.35);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid gray;
}

.no-border {
    border: 0;
}

span {
    height: .75em;
    display: block;
    font-size: .75rem;
}

label {
    padding: .5em;
    color: darkslategray;
}

input {
    width: 6em;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1em;
    border: 0;
    text-align: right;
    padding-right: .5rem;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

input[disabled] {
    background: transparent;
    color: initial;
}

.total label, .total input {
    color: white;
}

/* Top row with title */
.top {
    padding: 1.25em .5em 1.25em .5em;
    background: no-repeat 110%/7em url("img/money-bag.png"), rgba(0,0,0,.50);
}

.revenue-amount {
    background: #00408e;
}

.costs-amount {
    background: #ad0000; 
}

#total-profit {
    font-size: 2em;
    font-weight: bold;
}

/**********************************************/
/********* STYLES FOR BIGGER SCREENS **********/
/**********************************************/

@media(min-width: 420px){
    html {
        font-size: 22px;
    }

    body {
        display: flex;
        min-height: 100vh;
        justify-content: center;
    }

    #calculator-container {
        width: 420px;
        height: auto;
    }
}